In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('heart.csv')

In [68]:
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
df.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [88]:
#discrete numerical values
# df['cp'].unique()
# df['restecg'].unique()
# df.slp.unique()
# df.caa.unique()
# df.thall.unique()
df.oldpeak.unique()

array([2.3, 3.5, 1.4, 0.8, 0.6, 0.4, 1.3, 0. , 0.5, 1.6, 1.2, 0.2, 1.8,
       1. , 2.6, 1.5, 3. , 2.4, 0.1, 1.9, 4.2, 1.1, 2. , 0.7, 0.3, 0.9,
       3.6, 3.1, 3.2, 2.5, 2.2, 2.8, 3.4, 6.2, 4. , 5.6, 2.9, 2.1, 3.8,
       4.4])

In [87]:
# continuos  num data augmentation

1.1591574732421361

In [89]:
age_std = np.std(df.age)
trbps_std = np.std(df.trtbps)
chol_std = np.std(df.chol)
thalachh_std = np.std(df.thalachh)
oldpeak_std = np.std(df.oldpeak)
data =[]
for _,row in df.sample(70).iterrows():
    temp = {
        'age':row['age']-np.random.uniform(age_std/5),
        'sex':row['sex'],
        'cp':row['cp'],
        'trtbps':row['trtbps']-np.random.uniform(trbps_std/5),
        'chol':row['chol']-np.random.uniform(chol_std/5),
        'fbs':row['fbs'],
        'restecg':row['restecg'],
        'thalachh':row['thalachh']-np.random.uniform(thalachh_std/5),
        'exng':row['exng'],
        'oldpeak':row['oldpeak']-np.random.uniform(oldpeak_std/5),
        'slp':row['slp'],
        'caa':row['caa'],
        'thall':row['thall'],
        'output':row['output']
        
    }
    data.append(temp)

In [83]:
new= pd.DataFrame(data)

In [84]:
stretched = df.append(new)

In [85]:
stretched.to_csv('expanded.csv')

In [86]:
stretched

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63.000000,1.0,3.0,145.000000,233.000000,1.0,0.0,150.000000,0.0,2.300000,0.0,0.0,1.0,1.0
1,37.000000,1.0,2.0,130.000000,250.000000,0.0,1.0,187.000000,0.0,3.500000,0.0,0.0,2.0,1.0
2,41.000000,0.0,1.0,130.000000,204.000000,0.0,0.0,172.000000,0.0,1.400000,2.0,0.0,2.0,1.0
3,56.000000,1.0,1.0,120.000000,236.000000,0.0,1.0,178.000000,0.0,0.800000,2.0,0.0,2.0,1.0
4,57.000000,0.0,0.0,120.000000,354.000000,0.0,1.0,163.000000,1.0,0.600000,2.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,61.951316,1.0,0.0,133.685258,260.176961,0.0,1.0,148.162740,1.0,2.545720,2.0,1.0,3.0,0.0
66,43.770756,1.0,1.0,122.395919,296.832297,0.0,1.0,169.141714,0.0,1.008316,2.0,0.0,2.0,1.0
67,45.033619,1.0,0.0,113.673282,198.005570,0.0,0.0,179.325002,0.0,1.056441,2.0,1.0,2.0,0.0
68,55.532648,1.0,2.0,126.358818,287.584033,0.0,0.0,153.208413,0.0,1.624287,0.0,1.0,2.0,1.0
69,66.438120,1.0,3.0,174.907339,229.653678,0.0,0.0,159.044603,0.0,1.728515,1.0,0.0,3.0,1.0